body {
  margin: 0;
  padding: 20px;
  font-family: Arial;
}

.App-Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*Mobile treatment*/
@media (max-device-width: 480px) {
  .App-Header {
    flex-direction: column;  
    align-items: initial;
  }
}

.App-Header-city {
  margin-right: 30px;
}
